
body {
    font-size: 100%;
  }
  
  
  @media screen and (max-width: 768px) {
    body {
      font-size: 14px;
    }
  }
  




@media screen and (max-width: 768px) {
}
  







.page {
    
    display: grid;
    font-family: 'Advent Pro', sans-serif;
    grid-template-rows: 200px auto;
    grid-template-columns: 200px auto;
    grid-template-areas: "one one" "two intro";
    margin: 1OOpx auto;
    border: 1px solid;
    
}
.one {
    grid-area: one;
    background-color: rgb(1, 1, 14);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "info nom photo";
    align-items: center;
    background-image:linear-gradient(to bottom, #401ae7, #0c0700);
  
    
}
.two {
    grid-area: two;
    float: flex;
    background-color: rgb(4, 4, 51);
    grid-template-rows: repeat (5, 1fr);
    grid-template-areas: "un" "de" "tr" "qu" "ci";
    align-items:normal;
    justify-content: space-between;
    color: rgb(248, 232, 6);
    background-image:linear-gradient(to bottom, #0c0700,#401ae7);
}



.nom {
    grid-area: nom;
    color: rgb(247, 231, 8);
    font-size: 50px;

}
.photo {
    grid-area: photo;
    float: right;
}
.info {
    grid-area: info;
    font-size: 15px;
    padding-left: 15px;
    color: aquamarine;
    
}




img{
    border: 1PX solid;
    border-radius: 50%;
}




.un {
    grid-area: "un";
   height: 300px;
   padding-top: 30px;
}



.de {
    grid-area: "de";
    height: 300px;
   
} 


.tr {
    grid-area: "tr";
    height:220px ;

}


.qu {
    grid-area: "qu";
    height:250px ;
}

.ci {
    grid-area: "ci";
    height: 250px;
}


.cv {
    display: grid;
    grid-area:"intro";
    float: left;
    background-color:rgb(235, 222, 166);
    padding: 50px;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas: "cv" "beaudoin" "resto" "binche" "cv1" "etudes" "langues";
    justify-content: space-between;
    list-style: circle;
    font-size: 20px;
    
}





.cw {
    grid-area:"cw";
    padding: 20px;
}

.beaudoin {
    grid-area:"beaudoin";
    padding: 20px;
}

.resto {
    grid-area:"resto";
    padding: 20px;
}

.binche {
    grid-area:"binche";
    padding: 20px;
}

.cv1 {
    grid-area:"cv1",
    padding: 20px;
}

.etudes {
    grid-area:"etudes";
    padding: 20px;
}

.langues {
    grid-area:"langues";
    padding: 20px;
}

